    body {
    margin: 0;
        font-family: 'Inter', sans-serif;
        background: #f8f9fb;
        color: #1c2c57;
    }
    
    /* NAVBAR */
    .border{
        border-bottom: 1px solid #d8d3d3;
    }
    .navbar {
    background: #ffffff;
    padding: 16px 18px 16px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .navbar-left {
    display: flex;
    align-items: center;
    gap: 175px;
    }
    
    .logo {
        height: 40px;
    }
    
    .search-box{
        display: flex;
        background: #ffffff;
        overflow: hidden;
        width: 615px;
        
    }
    .fa-solid{
        position: absolute;
        padding-left: 440px;
        padding-top: 10px;

    }
    .search-box input {
    padding: 10px 14px;
    width: 437px;
    border: 1px solid #4c74f0;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    }
    
    .navbar-right {
        display: flex;
        align-items: center;
        gap: 18px;
    }
    
    .navbar-right a {
        text-decoration: none;
        color: #000029;
        font-size: 14px;
    }
    
    .navbar-right a:hover{
        color: blue;
    }
    .coffee-btn {
    
        width: 140px;
    }
    
    /* MAIN 404 SECTION */
    .main {
        padding: 25px 0px;
        background-color: #ffffff;
    }
    
    .main1{
        background: rgb(243 244 246);
        padding: 7px 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 5px;
    }
    .main-text{
        padding: 10px 0px 0px;
        padding-left: 54px;
    }
    .main-text h1 {
    font-size: 46px;
    margin: 0;
    font-weight: 600;
    color: #2a47c8;
    }
    
    .main-text1 {
        font-size: 30px;
        margin-top: 0px;
        line-height: 1.1;
        font-weight: 700;
        color: rgb(55 65 81);
    }
    .main-text2 {
    font-size: 15px;
    margin-top: -27px;
    line-height: 1;
    color: rgb(75 85 99)
    }
    
    .btn-home {
    margin-top: 13px;
    padding: 10px 23px;
    background: #4b6ef5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    }
    
    .btn-home:hover{
        background: #2a47c8;
    }
    
    .illustration img {
        max-width: 100%;
        height: auto;
    }
    
    
    /* NEWSLETTER SECTION */
    .newsletter {
    background: #0c1222;
    color: #fff;
    padding: 33px 147px 35px;
    }
    
    .newsletter h2 {
        font-size: 24px;
        margin: 0;
        font-weight: 700;
        line-height: 32px;
    }
    
    .newsletter p {
        margin: 10px 0 20px;
        color: rgb(156 163 175);
        max-width: 434px;
    }

    .subscribe {
    display: flex;
    background: #ffffff;
    border-radius: 30px;
    overflow: hidden;
    width: 512px;
    margin-left: 31px;
    margin-top: 20px;
    }
    
    .subscribe input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    
    }
    
    .subscribe button {
    background: #4c6cfb;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    border-radius: 38px;
    margin: 5px;
    }
    
    /* FOOTER */
    footer {
    background: #0c1222;
    color: #e2e8f0;
    padding: 0px 163px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding-left: 213px;
    }

    footer h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    footer a {
        color: rgb(245, 243, 243);
        text-decoration: none;
        margin-bottom: 8px;
        display: block;
        font-size: 15px;
        line-height: 28px;
    }
    footer a:hover{
        color: rgb(143, 141, 141);
    }

    .icons{
     background-color: #0c1222;
    color: white;
    font-size: 24px;
    padding: 35px;
    padding-left: 1158px;
    }
    .icons i{
        padding: 10px;
    }
    .icons .fa-facebook:hover{
        color: rgb(99, 99, 246);
    }
    .icons .fa-instagram:hover{
        color: rgb(196, 39, 39);
    }
    .icons .fa-github:hover{
        color: rgb(51 51 51);
    }
    .icons .fa-youtube:hover{
        color: rgb(246, 29, 29);
    }
    
    .bottom {
    background: #0c1222;
    text-align: center;
    color: #94a3b8;
    padding: 20px 150px;
    border-top: 1px solid #1e293b;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    }
    .bottom1{
        display: flex;
    }
    .bottom2{
        padding-right: 20px;
    }
    .bottom2:hover{
        color: #474849
    }
  